#flickr-section img {
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 5px;
}
#flickr-section li {
    display: inline-block;
}
#flickr-section a {
    padding: 0;
}
#flickr-modal {
    position: absolute;
}
#flickr-modal .item img {
    margin: auto;
}