body {
    margin: auto;
    width: 100vw;
    align-content: center;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    background-color: #EAEAEA !important;
    min-width:
}

form#search-section {
    position: relative !important;
    left: 29% !important;
}
.page-wrapper {
    max-width: 1100px;
    margin: auto;
}

.search-wrapper {
    background: url("images/searchframe.png") center no-repeat;
    background-size: 51% 110%;
    height: 30vh;
    align-content: center;
    padding: 3%;
    position: relative;
    top: 150px;
}

div#player {
    width: 56%;
    height: 18em;
    position: relative;
    top: 7%;
    margin: 0 auto;
}

iframe {
    width: 53%;
    height: 26%;
    position: absolute;
    transform: translate(-50%);
    top: 6%;
}

#search-section label {
    margin: auto;
    padding: 2% 0 0 0;
    display: block;
}

.search-box {
    align-content: center;
    margin: 1% auto;
    padding: 0;
    float: none;
    width: 20%;
    display: block;
}

#search-section button {
    margin: auto;
    padding: 2%!important;
    border: none;
    background: -webkit-linear-gradient(rgba(148, 144, 144, 1), cornsilk);
    position: relative;
    top: 25px;
    padding: 1%;
    border-radius: 5px;
    font-weight: bold;
}

#search-section button:active {
    color: whitesmoke;
    background-color: burlywood;
}

#search-section button:focus, input:focus {
    outline: 0;
}

#youtube-section {
    margin: auto;
    padding: 1%;
    height: 50vh;
    background: url("images/youtubeframe.png") center no-repeat;
    background-size: 100% 100%;
}

.twitter-wrapper {
    width: 60%;
    background: url("images/twitterframe.png") center no-repeat;
    background-size: 247% 100%;
    float: left;
    overflow: scroll;
    position: relative;
    margin-top: 2%;
}

#twitter-section {
    height: 45vh;
    width: 86%;
    position: relative;
    left: 17%;
    bottom: 7px;

#flickr-section {
    height: 45vh;
    width: 40%;
    float: left;
    background-color: rgb(85,172,238);
    background-image: url("images/flickrframe.png");
}

.col-xs-6 {
    min-height: 40vh;
}

form > div.col-xs-6 {
    min-height: 20vh
}
div#player {
    width: 50%;
    height: 67%;
    position: relative;
    margin: 0 auto;
    min-width: 253px;
}
.modal-dialog {
    width: 80%;
    margin: 30px auto;
}


.prof-pic{
    width: 3em;
}



button.close {
    position: relative;
    bottom: 8px;
}

