body {
    text-align: center;
    font-family: 'Old Standard TT', serif;
}

#search-section {
    background: url("images/searchframe.png") center no-repeat;
    background-size: 45% 85%;
    height: 20vh;
    align-content: center;
}

#search-section label {
    position: fixed;
    top: 6%;
    left: 42.5%;
}

.search-box {
    margin: auto;
    float: none;
    width: 30%;
    position: fixed;
    top: 9%;
    left: 35%;
}

#search-section button {
    margin: auto;
    position: fixed;
    top: 12%;
    left: 43.5%;
    border: none;
    background-color: cornsilk;
}

#search-section button:active {
    color: whitesmoke;
    background-color: burlywood;
}

#search-section button:focus, input:focus {
    outline: 0;
}

#youtube-section {
    background-color: firebrick;
}

#twitter-section {
    background-color: #337ab7;
}

#flicker-section {
    background-color: lightskyblue;
}