.tweet{
    position: relative;
    height: 9.2em;
    margin: 5%;

}
.tweet small{
    display: block;
}

img.logo {
    width: 3.5em;
}


.prof-pic{
    width: 3em;
    position: relative;
    right: 14px;
}

.icon {
    margin-left: 8%;
    width: 5%;
}

.tweet .col-xs-2:first-child {
    margin-right: 1%;
}


.glyphicon.glyphicon-chevron-right{
    position: absolute !important;
    right: 1.5% !important;
    top: 46% !important;
    z-index: 1 !important;
    font-size: 3em !important;
    border: 1px solid black !important;
    padding: 1% !important;
    background-color: rgb(163, 86, 86) !important;
}

.glyphicon.glyphicon-chevron-left{
    position: absolute !important;
    left: 1.5% !important;
    top: 46% !important;
    z-index: 1 !important;
    font-size: 3em !important;
    border: 1px solid black !important;
    padding: 1% !important;
    background-color: rgb(163, 86, 86) !important;
}

.glyphicon:hover{
    cursor: pointer;
}
