.tweet{
    position: relative;
    height: 9.2em;
    margin: 5%;

}
.tweet small{
    display: block;
}

img.logo {
    width: 3.5em;
}


.prof-pic{
    width: 3em;
    position: relative;
    right: 14px;
}

.icon {
    margin-left: 8%;
    width: 5%;
}

.tweet .col-xs-2:first-child {
    margin-right: 1%;
}